div, article, section, nav, header, main, footer, img, p{
    transition: all .3s ease;
    transition-delay: 0.2s;
}

.wpp-icon{
    height:64px;
    position:fixed;
    bottom: 25px; 
    right: 25px;
    z-index:1;
    display: none;
}

.wpp-icon:hover{
    height: 60px;
}

li {
    list-style-type: none;
    display: inline;
    
  }

ul{
      margin: 0;
      
  }

  

  .menu-area-mobile-1{
      position: fixed;
      display: flex;
      margin-top: 4vh;
      background-color: rgb(255, 225, 144);
      width: 80%;
      height: 50vh;
      z-index: 1;
      transition: all .3s ease;
      transition-delay: 0.2s;
      left: -100%;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      text-align: left;
      text-decoration: none;
      font-size: 3.5vh;
}
      

.item-menu{
    display: flex;
}
  

  .menu-area-mobile-1 ul li{
      color: #725a38;
      display: block;
      transition: all .3s ease;
      transition-delay: 0.2s;
      text-decoration: none;
      padding: 1vh;

}

.menu-area-mobile-1 ul a{
    
    text-decoration: none;
}
  
  .menu-mobile-area{

    position: fixed;
    margin-top: 20px;
    display: none;
    justify-content: flex-start;


  }

  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label{
      
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  
  label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #e6cca3;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }

 

  .cabecalho{
    height: 100%;
    background: #c7a46c;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid #fff;
     
  }

.menu{
    margin: 0;
    padding: 0;
    
    
}

.menu-area{
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom: 5px solid #f5bb4a;
}

.menu-area a{
    text-decoration: none;
    margin-left: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 7px 3px 7px 7px;
    border-radius: 10px;

}
.menu-area a:last-child{
    padding-right: 8px;
}

.menu-area a:hover{
    color: rgb(102, 70, 23);
    transition: 0.5s;
    background-color: rgb(255, 225, 144);

}
.logo-area{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    border-bottom: 5px solid #f5bb4a;
    
}

.logomarca-cab{
    position: absolute;
    width: 250px;
    max-width: 50%;
}

.pesquisa{
    padding: 0!important;
}

.pesquisa-area{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0;
   border-bottom: 5px solid #f5bb4a;

}

.btn-pesquisa{
    color:#fff;
    border-color: #fff;
}

.btn-pesquisa:hover {
    color: rgb(102, 70, 23);
    background-color: rgb(255, 225, 144);
    border-color: rgb(255, 225, 144);
}

.destaque-area{
    display: flex;
    padding: 0;
    height: 100%;
}

.imagem-destaque{
    width: 100%;  
    max-width: 100%;
  
}

.card-home{
    background-color: #f5bb4a;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.card-home:hover{
    box-shadow: 3px 8px 25px 3px rgba(0,0,0,0.13);
}

.card-home-meio{
    display: flex;
    background-color: #fff;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    color: rgb(102, 70, 23);
    text-align: center;
  
}

.card-home-meio:hover{
    box-shadow: 3px 8px 25px 3px rgba(0,0,0,0.13);
}

.imagem-card-area{
    display: flex;
    background-color: #fff;
    height: 150px;
    width: 150px;
    border-radius: 20vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}


.imagem-card-area-meio{
    display: flex;
    background-color: #f5bb4a;
    height: 150px;
    width: 150px;
    border-radius: 20vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.imagem-card-area img{
    width: 100px;
}

.imagem-card-area img:hover{
    width: 110px;
}

.imagem-card-area-meio img{
    width: 100px;
}

.imagem-card-area-meio img:hover{
    width: 110px;
    
}

.videos-area{
    
    flex-direction: column;
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.videos-area h1 {
    font-size: 35px;
}

.video{
    margin-top: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.depoimentos-area{
    border-top: 5px solid #f5bb4a;
    width: 100%;
    padding: 8vh;
    display: flex;
    flex-direction: row;
    background-color: #c7a46c;
    width: 100%;
    text-align: center;
    margin: 0;
}

.depoimentos-area h2{

    font-size: 35px;
    color: #fff;
}

.depoimento{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between
}

.depoimento-card{

    width: 32%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 5vh;
    border-radius: 5vh;
    box-shadow: 3px 8px 12px 3px rgba(0,0,0,0.13);
}

.foto-dep-area{
    margin-right: 15px;
}

.foto-dep{
    width: 100px;
}

.avaliacao{
    width: 100px;
    margin-bottom: 5px;
}

.rodape{
    border-top: 5px solid #c7a46c;
    width: 100%;
    margin-top: 8vh;
    display: flex;
    background-color: #f5bb4a;
}

.rodape-area{
    width: 100%;
}

.rodape-div{
    display: flex;
    width: 32%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo-rodape{
    width: 200px;
}

.db-1{
    justify-content: center;
    align-items: center;
}

.rodape-div h2{
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
}

.rodape-div h3{
    font-size: 20px;
    
}

.redes-img{
    width: 200px;
}

/*<--------------------------------------------------------- SOBRE --------------------------------------------->*/

.imagem-destaque-sobre {
    width: 100%;  
    max-width: 100%;
}

.main-sobre h2 {
    padding-top: 20px;
    padding-left: 30px;
    text-align: left;
    color: #655232;
}

.main-sobre p {
    padding-left: 30px;
    text-align: left;
}

.cores-sobre {
    background-color: #c7a56c;
}

.missao-visao {
    padding-top: 20px;
    border-bottom: 5px solid #fff;
    padding-bottom: 20px
}

.titul-valores {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.nossos-valores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.nossos-valores .caixas {
    width: 300px;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}

.nossos-valores .caixas img {
    width: 100%;
    margin-bottom: 10px;
}

.owl-carousel {
    padding-right: 30px;
    padding-left: 30px;
}


/*<--------------------------------------------------------- Responsividade --------------------------------------------->*/

@media (max-width: 414px){

    .cabecalho{
        width: 100%;
        height: 100%;
        
    }

    .menu-area {

        display: none;
        right: 100%;
        padding-top: 20px;
        width: 100%;
        border-bottom: 0px;
        order: 0;
        padding-bottom: 20px;
    }


    .logo-area{
        padding-top: 20px;
        height: 100%;
        border-bottom: 0px;
        order: 0;
        
    }

    .logomarca-cab{
        position: static;
        width: 100%;
    }

    .pesquisa-area{
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 0px;
        order: 2;
    }

    .menu-mobile-area{
        position: fixed;
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        z-index: 1;
    
      }


    
      #checkbox-menu{
        position: absolute;
        opacity: 0;
      }
      
      label{
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
      }
      
      label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background: #725a38;
        transition: 0.25s ease-in-out;
      }
      
      label span:nth-child(1){
        top: 0;
      }
      
      label span:nth-child(2){
        top: 8px;
      }
      
      label span:nth-child(3){
        top: 16px;
      }
      
      #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
      }
      
      #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
      }
      
      #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top:8px;
      }

      #checkbox-menu:checked  ~ .menu-area-mobile-1 {
        position: absolute;
        margin-top: 4vh;
        left: 0;
        top: 0;


      }

    .destaque-area {
        Display:none;
    }


    .video{
        flex-direction: column;
    }

    .video iframe{
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .depoimento{
        display: block;
    }

    .depoimento-card{
        width: 100%;
        margin-bottom: 20px;
    }

    .depoimentos-area{
        padding: 1vh;
    }

    .rodape-area {
        width: 100%;
        display: block;
    }

    .db-1{
        width: 100%;
    }

    .rodape-div{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    ul {
        padding: 0;
      }





}


/*<--------------------------------------------------------- PRODUTOS --------------------------------------------->*/

.galleryproducts{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin-left: 10px;
    margin-top: 50px;
    box-shadow: 1px 1px 4px rgb(75, 49, 28);
    padding: 1%;
    text-align: center;
    background-color: #ff070730;
    border-radius: 20px;
}

.main-produtos{
    background-color: #c7a46c;
    text-align: center;
    padding-bottom: 50px;
}

.titulo-produtos{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}


.galleryproducts p:hover{
    transform:scaleX(1.1);
}
.galleryproducts img{
    width: 300px;
    margin-bottom: 15px;
}
.produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-shadow: #333;
    
}

/*Formatação de botão de compra e detalhes*/
.main-form.form-group input{
    padding: 10px;
    width: 100%;
    
}

.button {
    padding: 10px;
    background-color: rgb(233, 243, 139);
    color: rgb(5, 5, 5);
    border: 3px solid rgb(122, 122, 116);
    box-shadow: #333;
    border-radius: 10px;
    
}
/*Formatação de botão de comentários*/
.coment-box{
font-size: 20px;
margin: 50px;
}

#coment-box li[data-done="true"] {
    text-decoration: line-through;
}

.namecoment{
    width: auto;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin: -50px;
    
}
.text{
    width: 800px;
    height: 40px;
    padding: 0 10px;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px solid;
}
.text input:focus{
    border: 1px solid;
    outline: 0;
}
.text input{
    width: 100%;
    height: 10px;
    padding: 10px;
    margin-bottom:  10px;
    border-radius: 5px;
    border: 1px solid;
}
.text{
    border: 1px solid;
    
}
.coment{
    border: 0;
    padding: 10px 10px;
    background: #86b0b6;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
}
.coment:hover{
    background-color: #333;
}
/*<--------------------------------------------------------- CONTATO --------------------------------------------->*/
.page {
    width: 100%;
    display:flex;
    font-size: 16px;
    padding-left: 1%;
    background-color: rgb(235, 202, 114);
}

.end-contatos{
width: 50%;
}

.form{
    width: 50%;
}

.campo {
    margin: 2%;
    padding: 2px;
}

.mapa{
    text-align: center;
}

/*<--------------------------------------------------------- CURIOSIDADES --------------------------------------------->*/
#sectioncuriosidade h5{
	margin-bottom: 0vh;
}
#sectioncuriosidade h2{
	padding: 5vh;
    color: rgb(102, 70, 23);
}
.divcuriosidade1{
	border-top: 5px solid #c7a46c;
    width: 100%;
    padding: 5vh;
    float: left;
    flex-direction: row;
    background-color: #f5bb4a;
    width: 100%;
    text-align: left;
    margin: 0;
	color: #fff;
}
.divcuriosidade2{
	border-top: 5px solid #c7a46c;
    width: 100%;
    padding: 5vh;
    float: left;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    text-align: left;
    margin: 0;
	color: rgb(102, 70, 23);
}
.imgcuriosidade {
	width: 20%;
	float: left;
}	
.imgcuriosidade img {
	width:80%;
	float: left;
    border: 3px solid rgb(102, 70, 23);
    border-radius: 10px;
}
.textcuriosidade {
	width: 80%;
	float: left;
    margin-bottom: 1em;
}
span.curtir {
    margin-right: 1.5em;
    color: #000000;
}
.curtir img {
    width: 1.7em;
    margin-right: 0.5em;
}
.curtir button{
    border: 0;
    background: none;
}
/*<------------------------------------------------ Cesta de produtos ------------------------------------------>*/
#produtos-output ul {
    margin: 1em;
}
#produtos-output li {
	cursor: pointer;
    border-bottom: solid 1px #ccc;
    margin: 1em;
}

#produtos-output li img {
    height: 7%; 
    width:7%;
    padding: 0.5em; 
}

#produtos-output li[data-excluir="true"] {
	text-decoration: line-through;
}

#produtos-output h5 {
    margin-left: 3em;    
}

#sectioncesta button.left {
    margin-left: 3em;
}

.icone-cesta-produtos{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 5vh;
    margin-top: 10px;
    
    
}

.cesta-produtos{
    position: absolute;
    right: 0;
    margin-right: 5vh;
    margin-top: 20vh;
}


#checkbox-cesta{
    display: none;
}

.cesta-produtos-area{
    
    background-color: #897049;
    position: fixed;
    bottom: 0;
    right: -100%;
    height: 100%;
    width: 25%;
    z-index: -1;
    border-radius: 20px 0px 0px 20px;
}

#checkbox-cesta:checked + .cesta-produtos-area{
    right: 0;
}

.cesta-produtos-area h2{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
    color: #efefef;
}

