
/*<------------------------------------------------Exemplos temporários ------------------------------------------>*/
#itens-output li {
	cursor: pointer;
}

#form-itens {
	border-top: 1px solid #ddd;
	padding: 10px 0;
	margin: 10px 0;
}

#itens-output li[data-excluir="true"] {
	text-decoration: line-through;
}